# Build output
dist/
.astro/

# Dependencies
node_modules/

# Local Netlify folder
.netlify

# Environment
.env
.env.production
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store
